body {
	user-select: none;
}
ul {
	list-style-type: none;
	position: fixed;
	width: 100%;
	padding: 0;
	background-color: #000000;
}

li {
	float: left;
}

li a {
	display: block;
	padding: 10px 10px;
	text-align: center;
	color: #ffffff;
	text-decoration:none;
	font-family: verdana;
}

li a:hover{
	background-color: #000000;
}

.active {
	background-color: #00ff00;
}

h1{
	font-family:verdana;
	text-align: center;
}

p{
	font-family:verdana;
}

#keskala {
	z-index: 10;
	position: absolute;
	padding:75px 30px;
	left: 45%;
	top: 30%;
}
#küpsis{
	text-align:center;
	background-color: #d8b32d;
	height: 100px;
	width: 100px;
	border-radius: 100%;
}
#chip1 {
	position:absolute;
	background-color:#726229;
	border-radius:100%;
	height:13px;
	width:13px;
	transform: translate(30px, 10px);
}
#chip2 {
	position:absolute;
	background-color:#726229;
	border-radius:100%;
	height:13px;
	width:13px;
	transform: translate(20px, 60px);
}
#chip3 {
	position:absolute;
	background-color:#726229;
	border-radius:100%;
	height:13px;
	width:13px;
	transform: translate(50px, 40px);
}
#chip4 {
	position:absolute;
	background-color:#726229;
	border-radius:100%;
	height:13px;
	width:13px;
	transform: translate(80px, 50px);
}
#chip5 {
	position:absolute;
	background-color:#726229;
	border-radius:100%;
	height:13px;
	width:13px;
	transform: translate(35px, 75px);
}