 @keyframes sunrolling {
        0%   {
          -webkit-transform:rotate(0deg); 
          transform:rotate(0deg); 
      }
        100% { 
          -webkit-transform:rotate(180deg); 
          transform:rotate(360deg); 
      }
    }
    .sun {
        position: absolute;
        margin: 30px;
        width: 80px;
        height: 80px;
		left: 50%;
		top: 50%
    }
    .sun-anime {
        width: 100%;
        height: 100%;
        animation: sunrolling 60s infinite;
    }
    .sun-ball {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background: #ffcf11;
        background-image: radial-gradient(circle, #ffdf05, #ffdf05);
        box-shadow: 0 0 100px #ffdf05;
    }
    .sun-light {
        position: absolute;
        top: -30%;
        left: 50%;
        width: 2px;
        height: 160%;
    }
    .sun-light .end1, .sun-light .end2 {
        position: absolute;
        width: 100%;
        height: 12%;
        background: #fed65b;
    }
    .sun-light .end1{
		bottom: 0;
    } 
    .sun-light:nth-child(10n+2) {
        transform:rotate(18deg); 
    }
	.sun-light:nth-child(10n+3) {
        transform:rotate(36deg); 
    }
	.sun-light:nth-child(10n+4) {
        transform:rotate(54deg); 
    }
	.sun-light:nth-child(10n+5) {
        transform:rotate(72deg); 
    }
	.sun-light:nth-child(10n+6) {
        transform:rotate(90deg); 
    }
	.sun-light:nth-child(10n+7) {
        transform:rotate(108deg); 
    }
	.sun-light:nth-child(10n+8) {
        transform:rotate(126deg); 
    }
	.sun-light:nth-child(10n+9) {
        transform:rotate(154deg); 
    }
	.sun-light:nth-child(10n+10) {
        transform:rotate(172deg); 
    }
	.sun-light:nth-child(10n+11) {
        transform:rotate(190deg); 
    }